@font-face {
  font-family: "Archivo-Bold";
  src: url("../font/Archivo-Bold.woff");
}
@font-face {
  font-family: "Archivo-Regular";
  src: url("../font/Archivo-Regular.woff");
}
@font-face {
  font-family: "Heritage";
  src: url("../font/Heritage_Sans_Alternates.woff");
}
$primary-color: #243746;
$secondary-color: #e36852;
$extraColor: #e5e3da;
$hColor: #7da0a6;
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $extraColor;
}
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/bg.png), linear-gradient(#e8e5dc, #e8e5dc);
  background-size: 200px, auto;
}
.heritage {
  font-family: "Heritage", sans-serif;
}
.arch-reg {
  font-family: "Archivo-Regular", sans-serif;
}
.arch-bold {
  font-family: "Archivo-Bold", sans-serif;
}
.pColor {
  color: $primary-color;
}
.aColor {
  color: $secondary-color;
}
.extraColor {
  color: $extraColor;
}
.hColor {
  color: $hColor;
}
#sm-menu {
  border-radius: 50%;
  z-index: 99 !important;
  background: $extraColor;
}
.sm-nav {
  top: -100%;
  width: 100vw;
  height: 100vh;
  background: $extraColor;
  transition: 1s !important;
  > a {
    margin-top: 8vh;
  }
  > nav {
    > ul {
      > li {
        margin-top: 1.5vh !important;
        > a {
          transition: 0.2s ease-in-out !important;
        }
        &:hover {
          > a {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
.active {
  top: 0%;
}
.navBird-hover {
  > * {
    transition: 0.2s ease-in-out !important;
  }
  &:hover {
    > img {
      margin-bottom: 35px !important;
    }
    > figcaption {
      color: $secondary-color;
    }
  }
}
.menu {
  width: 44px;
  right: 30px;
}
.menu-hover {
  > img {
    transform: rotate(0);
    transition: 0.2s ease-in-out !important;
  }
  &:hover {
    > img {
      transform: rotate(180deg);
    }
  }
}
.hero {
  ~ img {
    opacity: 0.25;
    right: 50%;
    transform: translateX(50%);
    width: 500px;
    top: 25%;
  }
  > h1 {
    font-size: 45px;
    letter-spacing: 1.5px;
  }
  ~ section {
    max-width: 100% !important;
    > div {
      > div.slider {
        height: 500px !important;
      }
    }
  }
  ~ .last {
    max-width: 100% !important;
    > div {
      > div {
        &:nth-of-type(1) {
          height: 400px;
        }
      }
    }
  }
}
.top-socials {
  > a > span {
    transition: 0.2s ease-in-out !important;
  }
  > a:hover > span {
    color: $secondary-color;
  }
}
.freeBird {
  width: 100%;
  max-width: 500px;
  padding-top: 25%;
}
.discover {
  border: 2px solid #d3be54 !important;
  width: 124px;
  display: flex;
  height: 43px;
  transition: 0.2s ease-in-out !important;
  > span {
    width: 200px;
    letter-spacing: 3px;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
  }
  &:hover {
    width: 230px;
  }
}
.c1 {
  width: 275px;
  height: 400px;
}
.c2 {
  width: 200px;
  height: 300px;
  bottom: -60px;
  right: 0;
}
footer {
  background-color: $primary-color;
  > div {
    max-width: 100% !important;
  }
  ul {
    > li > a {
      transition: 0.2s ease-in-out !important;
      &:hover {
        color: $secondary-color !important;
      }
    }
  }
}
.footerBird {
  height: 150px !important;
  width: fit-content;
}
.contact {
  transition: 0.2s ease-in-out !important;
  &:hover {
    color: $secondary-color !important;
  }
}
.i1 {
  border: 2px solid $hColor;
  background-color: transparent;
  flex-grow: 1;
  height: 44px;
  padding: 10px;
  &:focus {
    caret-color: white;
    outline: none;
  }
  &::placeholder {
    color: #7da0a683;
  }
}
.i2 {
  border: 2px solid $secondary-color;
  width: 90px !important;
  background: transparent;
  color: white;
  height: 44px;
  transition: 0.2s ease-in-out !important;
  &:hover {
    width: 150px !important;
  }
}
.footerSocial {
  > a {
    width: fit-content;
    height: fit-content;
    transition: 0.2s ease-in-out !important;
    color: $secondary-color;
    &:hover {
      border-bottom: 4px solid $secondary-color;
    }
  }
}
.logos {
  gap: 40px;
  align-content: center;
  > img {
    max-height: 40px;
    object-fit: contain;
    &:nth-of-type(1) {
      max-width: 160px;
    }
    &:nth-of-type(2) {
      width: auto;
      max-width: 300px;
    }
  }
}
.cRight {
  > a {
    transition: 0.2s ease-in-out !important;
    &:hover {
      color: $secondary-color !important;
    }
  }
}
.zahra {
  width: 90px;
  height: 90px;
  bottom: 40px;
  right: 40px;
  > p {
    top: 90px;
    width: 100px;
    font-weight: 200;
    color: $primary-color;
    line-height: 10px;
    flex-wrap: wrap;
    font-size: 12px;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: right;
    > strong {
      transform: translateX(-2px) rotate(-90deg);
      transform-origin: right;
    }
  }
  > div {
    background-color: $primary-color;
    border-radius: 33% 67% 32% 68% / 32% 28% 72% 68%;
    animation: format 10s ease-in-out infinite alternate;
    > figure {
      width: 95%;
      height: 95%;
      // overflow: hidden;
      cursor: pointer;
      > img {
        z-index: 15;
        animation: format2 10s ease-in-out infinite alternate;
      }
      > figcaption {
        > a {
          z-index: 10 !important;
          color: $primary-color;
          font-size: 12px;
          width: 60px;
          height: 20px;
          transform: translateX(0) translateY(0);
          transition: all 0.5s ease-in-out;
          &:nth-of-type(1) {
            transition-delay: 0s;
          }
          &:nth-of-type(2) {
            transition-delay: 0.2s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.4s;
          }
          &:nth-of-type(4) {
            transition-delay: 0.6s;
          }
        }
      }
      &:hover {
        > figcaption {
          > a {
            transform: translateX(-70px) translateY(0);
            color: $secondary-color;
          }
        }
      }
    }
  }
}
@keyframes format {
  0% {
    border-radius: 51% 49% 37% 63% / 63% 60% 40% 37%;
  }
  25% {
    border-radius: 68% 32% 59% 41% / 63% 60% 40% 37%;
  }
  50% {
    border-radius: 49% 51% 69% 31% / 40% 50% 50% 60%;
  }
  75% {
    border-radius: 58% 42% 47% 53% / 66% 56% 44% 34%;
  }
  100% {
    border-radius: 40% 60% 62% 38% / 56% 40% 60% 44%;
  }
}
@keyframes format2 {
  0% {
    border-radius: 52% 48% 41% 59% / 35% 40% 60% 65%;
  }
  25% {
    border-radius: 68% 32% 52% 48% / 55% 48% 52% 45%;
  }
  50% {
    border-radius: 58% 42% 37% 63% / 40% 65% 35% 60%;
  }
  75% {
    border-radius: 45% 55% 55% 45% / 58% 48% 52% 42%;
  }
  100% {
    border-radius: 68% 32% 59% 41% / 63% 60% 40% 37%;
  }
}

// md
@media screen and (min-width: 768px) {
  .hero ~ img {
    width: 750px;
    top: 10dvh;
  }
  .freeBird {
    max-width: 700px;
    width: 100%;
    padding-top: 100px;
  }
  .c1 {
    width: 90%;
    height: 400px;
  }
  .c2 {
    bottom: -20%;
  }
  .zahra {
    width: 120px;
    height: 120px;
    > p {
      top: 120px;
      width: 140px;
    }
    > div {
      > figure {
        > figcaption {
          a {
            font-size: 16px !important;
            height: 28px !important;
          }
        }
        &:hover {
          > figcaption {
            > a {
              transform: translateX(-80px) translateY(0);
            }
          }
        }
      }
    }
  }
  .sm-nav {
    > a {
      margin-top: 5vh;
      width: 130px !important;
    }
    > nav {
      > ul {
        > li {
          margin-top: 1.5vh !important;
          margin-left: 3% !important;
        }
      }
    }
  }
}
.active {
  top: 0%;
}

// lg
@media screen and (min-width: 992px) {
  .hero ~ img {
    width: 1200px;
  }
  .freeBird {
    max-width: 686px;
    width: 100%;
    padding-top: 100px;
  }
  .c1 {
    width: 90%;
    height: 600px;
  }
  .c2 {
    bottom: -17%;
  }
  .c3 {
    width: 125px;
    height: 600px;
    left: -20px !important;
    top: 50px;
  }
  .c4 {
    max-width: 90%;
    width: 400px;
    height: 545px;
    top: -70px;
    right: 0px;
  }
  .last {
    > div {
      > div {
        &:nth-of-type(1) {
          height: 600px !important;
        }
      }
    }
  }
  footer {
    margin-top: 200px;
  }
  .i2 {
    &:hover {
      width: 110px !important;
    }
  }
  .divider {
    &::before,
    &::after {
      content: "";
      width: 4px;
      height: 75%;
      background-color: $extraColor;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      left: -15%;
    }
    &::after {
      right: -15%;
    }
  }
  .zahra {
    width: 150px;
    height: 150px;
    > p {
      top: 150px;
      width: 160px;
    }
    > div {
      > figure {
        > figcaption {
          a {
            font-size: 18px !important;
            height: 35px !important;
          }
        }
        &:hover {
          > figcaption {
            > a {
              transform: translateX(-90px) translateY(0);
            }
          }
        }
      }
    }
  }
  .sm-nav {
    width: 30% !important;
    > a {
      margin-top: 8vh;
      margin-left: calc(30% + 40px) !important;
    }
    > nav {
      > ul {
        > li {
          margin-top: 2vh !important;
          margin-left: 5vw !important;
          > a {
            font-size: 30px !important;
          }
        }
      }
    }
  }
}
.active {
  top: 0%;
}

@media screen and (min-width: 1200px) {
  .sm-nav {
    > a {
      margin-top: 8vh;
      margin-left: calc(30% + 65px) !important;
    }
    > nav {
      > ul {
        > li {
          margin-top: 2vh !important;
          margin-left: 8vw !important;
          > a {
            font-size: 30px !important;
          }
        }
      }
    }
  }
  .active {
    top: 0%;
  }
}

@media screen and (min-width: 1400px) {
  .fit {
    width: fit-content;
  }
}
